@using Contentful.Core.Models;

@model ContentfulCollection<BlogPost>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Blog Posts</h1>
</div>
<ul>
    @foreach (var post in Model)
    {
        <h2>@post.Title - ID: @post.Sys.Id</h2>
        <p>@post.Sys.CreatedAt.Value.ToString("MMMM dd, yyyy")</p>
        <contentful-rich-text document="@post.Body"></contentful-rich-text>
    }
</ul>
