@using Contentful.Core.Models;

@model ContentfulCollection<BlogPost>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Blog Posts</h1>
</div>
<ul>
    @foreach (var post in Model)
    {
        <li>@post.Title</li>
    }
</ul>
