@using Contentful.Core.Models;

@model ContentfulCollection<BlogPost>;

@{
    ViewData["Title"] = "Post";
    var postList = Model.Items.ToArray();
}

@if (postList.Length == 1)
{
    var post = postList.First();

    <h2 id="post-title">@post.Title</h2>
    <p>@post.Sys.CreatedAt.Value.ToString("MMMM dd, yyyy")</p>
    <contentful-rich-text document="@post.Body"></contentful-rich-text>
} 
else
{
    <p>Sorry, it looks like this post does not exist.</p>
    <p>Here's the menu, so you can find the post you're looking for:</p>
    <a href="/home">Blog Posts</a>
}

