html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* My Styles */

/* Global */

h3, h4, h5, h6 {
  color: #c48e65;
}

h2 {
  color: #c48e65;
  font-size: 17px;
  font-weight: 700;
}

.newsletter-form div,
.newsletter-form table, 
.newsletter-form form {
  max-width: 100%;
}

@media screen and (width <=768px) {
  .desktop-only {
    display: none;
  }
}

/* Home */
#main-heading {
  color: #6b9d8b;
  font-size: 32px;
  font-family: 'Playfair Display', Arial;
}

.post-preview {
  border: thin solid #eee;
  padding: 16px;
}

.top-preview {
  height: 485px; overflow: hidden;
}

.small-preview {
  max-width: calc(33.3% - 11px);
  height: 500px;
  overflow: hidden;
}

.preview-row {
  /* width: 66.7%; */
  margin: 16px 0;
  gap: 16px;
}

.preview-header {
  color: #c48e65;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
}

.ellipsis-one-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.top-preview-header {
  font-size: 24px;
}

.preview-header:hover {
  color: #c48e65;
  text-decoration: underline;
}

.post-body-preview {
  margin-top: 8px;
  height: 384px; 
  overflow: hidden;
}

.read-more-container {
  padding-top: 16px;
}

.read-more-text {
  text-decoration: none;
  color: #886939;
}

#page-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination {
  gap: 16px;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 0.25rem;
}

.page-link {
  background-color: #999;
  font-weight: bold;
  color: #fff;
}

.page-link:hover {
  background-color: #999;
  font-weight: bold;
  color: #fff;
}

.current-page,
.current-page:hover {
  background-color: #000;
}

@media screen and (width <= 768px) {
  .preview-row {
    width: 100%;
  }

  .small-preview {
    min-width: 100%;
  }

  .post-preview {
    height: 440px;
    overflow: hidden;
  }

  .post-body-preview {
    height: 339px; 
    overflow: hidden;
  }
}

/* Post */

#post-title {
  font-size: 22px;
  font-weight: 700;
}

#post-body {
  max-width: 100%;
}

#post-body img {
  max-width: 100%;
}